body {
  min-height: 100%;
  position: relative;
}

#topbar {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: flex-end;
  position: fixed;
  background-color: white;
}

#logo {
  height: 30px;
  padding: 0px 28px 10px 30px;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  height: auto;
}

#searchMicrophone {
  height: 45px;
  width: 35px;
  margin-left: auto;
  background-color: white;
}

#searchMicrophone img {
  height: 25px;
}

#searchGlass {
  height: 45px;
  width: 55px;
  position: relative;
  margin-right: -2px;
  background-color: white;
}

#searchGlass img {
  height: 25px;
}

#search-box {
  width: 625px;
  height: 45px;
  border-radius: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  position: relative;
  bottom: 5px;
  overflow: hidden;
  display: flex;
  z-index: 100;
}

#search-box:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

#search-box > input {
  height: 45px;
  border-style: none;
  font-size: 16px;
  line-height: 45px;
  padding-left: 20px;
  flex: 1;
}

#search-box > input:focus {
  outline: none;
}

/* Removes edges around the search bar icons */
#search-box button {
  border: none;
  cursor: pointer;
}

#search-box button:focus {
  outline: none;
}

#searchType {
  width: 100%;
  height: 50px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: lightgray;
  border-style: solid;
  display: flex;
  align-items: flex-end;
  font-family: 'Arial';
  font-size: 13px;
  color: rgb(112, 112, 112);
  padding-top: 64px;
}

#sTypeList {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  margin-left: 150px;
}

#sTypeList li {
  padding: 0px 10px 15px 20px;
}

#All {
  color: #4285F4;
  font-weight: bold;
  position: relative;
  z-index: -1;
}

#All::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #4285F4;
  left: 5px;
  bottom: 0px;
}

#sTypeList2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  margin-left: 100px;
}

#sTypeList2 li {
  padding: 0px 10px 15px 20px;
}

#resultsArea {
  margin-left: 150px;
  font-family: 'Arial';
}

#numOfResults {
  font-size: 0.8rem;
  color: gray;
}

.link {
  margin-left: 8px;
}

.link h2 {
  font-size: 19px;
  line-height: 18px;
  font-weight: normal;
  color: rgb(29, 1, 189);
  margin-bottom: 0px;
  margin-top: 25px;
}

.link a {
  font-size: 14px;
  line-height: 14px;
  color: green;
  margin-bottom: 0px;
}

.link button {
  font-size: 10px;
  line-height: 14px;
  color: green;
  margin-bottom: 0px;
  padding: 0px;
  border-width: 0px;
  background-color: white;
}

.link p {
  width: 625px;
  font-size: 13px;
  margin-top: 0px;
  color: rgb(82, 82, 82);
}

.relatedSearches h3 {
  font-weight: normal;
  font-size: 19px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.relatedlist ul {
  list-style: none;
  color: rgb(29, 1, 189);
  padding-left: 0px;
  font-size: 14px;
  margin-bottom: 50px;
}

.relatedlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.relatedlist ul li {
  margin-bottom: 8px;
}

.pagesList {
  list-style: none;
  color: rgb(29, 135, 255);
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: 100px;
}

/* check this, might not be applicable */
.bottomG::before {
  content: '<';
  display: block;
  position: absolute;
  right: 12px;
  top: -35px;
  color: rgb(29, 135, 255);
  font-size: 20px;
  transform: scale(0.7, 1.2);
}

.bottomG::after {
  content: '';
  display: block;
  position: absolute;
  right: -40px;
  top: -35px;
  width: 40px;
  height: 40px;
  background-image: url('images/g.png');
  background-repeat: no-repeat;
  background-size: 28px;
}

#pageNo1 {
  margin-left: 20px;
  font-size: 13px;
}

.pagenumber::before, #pageNo1::before {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  top: -21px;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: white;
  z-index: 3;
}

.pagenumber::after {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  top: -25px;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  background-color: rgb(255, 196, 0);
  z-index: 2;
}

#pageNo1::after {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  top: -25px;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  background-color: red;
  z-index: 2;
}

.pageslist li {
  margin-right: 15px;
  position: relative;
}

footer {
  background-color: rgb(238, 238, 238);
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 13px;
  font-family: 'arial';
  color: rgb(85, 85, 85);
}

#menuFooter {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-left: 135px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#menuFooter li {
  padding-right: 30px;
}

#location {
  display: flex;
  direction: row;
  margin-left: 175px;
  position: relative;
  top: -5px;
}

#location p:nth-of-type(1) {
  font-weight: bold;
}

/* small change */